html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #fdfdfd;
	margin-bottom: 70px;
}

.highlight-background-color {
	color: #bd5d70;
	font-weight: bold;
}

.primary-highlight-color {
	color: #bd5d70;
}

#redditor-heading {
	font-weight: bold;
}

.button-background {
	background: #bd5d70;
}

.element-shadow {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.product-card {
	background-color: #fdfdfd;
}

.footer-background {
	background-color: #bd5d70 !important;
}

.sticky-footer {
	margin-top: 10px;
	width: 100%;
	height: 70px;
	bottom: 0;
	position: absolute;
}

.vote-emoji {
    font-size: 250%;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #974A5C !important;
}