<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <body layout:fragment="content">
        <div class="container">

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <h1 class="text-center" id="redditor-heading">What are Redditors buying?</h1>
                </div>
            </div>

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <h2 class="text-center" th:inline="text"><span class="highlight-background-color">[[${productCount}]]</span> Amazon products found on <span class="highlight-background-color">Reddit</span></h2>
                </div>
            </div>

            <div class="row">
                <th:block th:each="productCollection : ${productCollections}">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mt-1">
                        <a th:href="@{/collection/__${productCollection?.id}__}">
                            <div class="card card-inverse product-collection-card">
                                <div class="card-block">
                                    <h4 class="card-title" th:text="${productCollection?.name}"></h4>
                                    <p class="card-text" th:text="${productCollection?.description}"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <div class="card card-block">
                        <th:block th:each="product : ${products}">
                            <div class="row mb-2 product-card">
                                <div class="col-3 pt-1 pb-2">
                                    <div class="view overlay hm-white-slight">
                                        <img th:src="${product?.imageUrl}" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="col-9 pt-1">
                                    <h4><span class="badge badge-success" th:inline="text">[[${product?.productGroup}]]</span>&nbsp;<a th:href="@{/product/__${product?.asin}__}" th:text="${product?.title}"></a></h4>
                                    <hr/>
                                    <p th:inline="text"><span class="primary-highlight-color">[[${product?.popularity}]]</span> references on Reddit</p>
                                    <p>
                                        <th:block th:each="subreddit : ${product?.subreddits}">
                                            <span class="badge badge-success button-background" th:inline="text">[[${subreddit}]]</span>
                                        </th:block>
                                    </p>
                                    <p th:utext="${product?.description}"></p>
                                    <a class="btn btn-primary waves-effect waves-light button-background" th:href="${product?.detailPageUrl}" th:inline="text">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Buy on Amazon
                                    </a>
                                </div>
                            </div>
                        </th:block>
                        <div class="row justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <th:block th:each="page : ${pages}">
                                        <li class="page-item"><a class="page-link" th:href="@{/page/__${page}__}" th:text="${page}"></a></li>
                                    </th:block>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <div class="card card-block">
                        <strong>Subscribe to our newsletter</strong>
                        <p>Once a month we'll send you an email informing you of the hottest items linked on Reddit!</p>
                        <div class="md-form">
                            <form action="/subscribeNewsletter" method="get">
                                <input type="text" id="email" name="email" class="form-control"/>
                                <label for="email">Your email</label>
                                <button class="btn btn-primary waves-effect waves-light button-background">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>