<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <body layout:fragment="content">
        <div class="container">

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <h1 class="text-center" id="redditor-heading">What are Redditors buying?</h1>
                </div>
            </div>

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <h2 class="text-center" th:inline="text"><span class="highlight-background-color">[[${productCount}]]</span> Amazon products linked since <span class="highlight-background-color">April 2017</span></h2>
                </div>
            </div>

            <div class="row justify-content-center mt-1">
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" placeholder="Search for..."/>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <div class="card card-block">
                        <th:block th:each="product : ${products}">
                            <div class="row mb-2 product-card">
                                <div class="col-3 pt-1 pb-2">
                                    <div class="view overlay hm-white-slight">
                                        <img th:src="${product?.productItem?.largeImage?.url}" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="col-9 pt-1">
                                    <h4><span class="badge badge-success" th:inline="text">[[${product?.productItem?.itemAttributes?.productGroup}]] </span><a th:href="${product?.productItem?.detailPageUrl}" th:text="${product?.productItem?.itemAttributes?.title}"></a></h4>
                                    <hr/>
                                    <p th:inline="text"><span class="primary-highlight-color">[[${product?.popularity}]]</span> references on Reddit</p>
                                    <p th:utext="${product?.productItem?.editorialReviews?.editorialReview[0]?.content}"></p>
                                    <p th:inline="text"><span style="color: green;">[[${product?.productItem?.itemAttributes?.listPrice?.formattedPrice}]] </span>current price on Amazon</p>
                                    <a class="btn btn-primary waves-effect waves-light button-background" th:href="${product?.productItem?.detailPageUrl}">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i> Buy on Amazon
                                    </a>
                                </div>
                            </div>
                        </th:block>
                        <div class="row justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:href="@{/page/__${pages[0]}__}" th:text="${pages[0]}"></a></li>
                                    <li class="page-item"><a class="page-link" th:href="@{/page/__${pages[1]}__}" th:text="${pages[1]}"></a></li>
                                    <li class="page-item"><a class="page-link" th:href="@{/page/__${pages[2]}__}" th:text="${pages[2]}"></a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>